#score, #level, #lines {
    display: inline;
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
}

#tetris {
    /*position: relative;*/
    /*margin: 0 auto;*/
    /*width: 800px;*/
    /*height: 400px;*/
}

#canvas {
    position: relative;
    float: left;
    margin-left: 35vw;
    margin-top: 20px;
}

body {
    background-color: black;
}

#main {
    /*width: 300px;*/
    position: relative;
    margin: 0 auto;
}

#nextPieceStyle {
    position: relative;
    float: left;
    margin-left: 50px;
    margin-top: 100px;
    border: 1px solid green;
    width: 150px;
    height: 150px;
}

.score {
    position: relative;
    color: white;
    font-size: 24px;
    width: 250px;
    float: left;
    margin:30px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal h1 {
    text-align: center;
}

#scores {
    margin-top: 25px;
}
#newGame {
    position: relative;
    margin-top: 100px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 50px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
    height: 600px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#shortcuts {
    font-size: 16px;
    line-height: normal;
    margin-left: -20px;
}

#shortcuts p {
    margin: 5px;
}