#score, #level {
    display: inline;
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
}

#tetris {
    /*position: relative;*/
    /*margin: 0 auto;*/
    /*width: 800px;*/
    /*height: 400px;*/
}

#canvas {
    position: relative;
    float: left;
    margin-left: 35vw;
    margin-top: 20px;
}

body {
    background-color: black;
}

#main {
    /*width: 300px;*/
    position: relative;
    margin: 0 auto;
}

#nextPieceStyle {
    position: relative;
    float: left;
    margin-left: 50px;
    margin-top: 100px;
    border: 1px solid green;
    width: 150px;
    height: 150px;
}

.score {
    position: relative;
    color: white;
    font-size: 24px;
    width: 250px;
    float: left;
    margin:30px;
}