#score,
#level,
#lines {
  display: inline;
  font-size: 25px;
  font-weight: bold;
  font-family: monospace;
}

#name {
  color: aliceblue;
}

#logBtn {
  position: absolute;
  width: 250px;
  height: 50px;
  margin-top: 20px;
  margin-left: 150px;
  color: aliceblue;
  background-color: transparent;
  border: 1px solid green;
  border-radius: 10px;
  text-transform: uppercase;
}

#logBtn:hover {
  background-color: rgb(60, 133, 133);
  transition: 0.5s;
  letter-spacing: 1.5px;
  cursor: pointer;
}

#name {
  text-transform: uppercase;
  color: aqua;
  position: fixed;
  margin-top: 350px;
  margin-left: 190px;
  font-size: 2.5em;
  letter-spacing: 6px;
}

#canvas {
  position: relative;
  float: left;
  margin-left: 35vw;
  margin-top: 20px;
}

body {
  background-color: black;
}

#main {
  /*width: 300px;*/
  position: relative;
  margin: 0 auto;
}

#nextPieceStyle {
  position: relative;
  float: left;
  margin-left: 130px;
  margin-top: 100px;
  border: 1px solid green;
  width: 200px;
  height: 150px;
}

.score {
  position: relative;
  color: white;
  font-size: 24px;
  width: 250px;
  float: left;
  margin: 70px;
}

/* Modal button */

#myBtn {
  border-radius: 5px;
  margin-left: -145px;
  margin-top: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal h1 {
  text-align: center;
}

#scores {
  margin-top: 25px;
}
#newGame {
  position: relative;
  margin-top: 100px;
  border-radius: 5px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #181616;
  margin: 50px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 400px; /* Could be more or less, depending on screen size */
  height: 600px;
  color: rgb(199, 199, 199);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#shortcuts {
  font-size: 16px;
  line-height: normal;
  margin-left: -20px;
}

#shortcuts p {
  margin: 5px;
}
